<div class="project">
  <table>
    <tr>
     <th>Title</th>
     <th>description</th>
     <th>project_link</th>
     <th>website_link</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>


   <tr>
     <td><%= project.title %></td>
     <td><%= project.description %></td>
     <td><%= project.project_link %></td>
     <td><%= project.website_link %></td>
     <td><%= link_to "Show", project %></td>
     <td><%= link_to "Edit", edit_project_path(project) %></td>
     <td><%= link_to "Remove", project, method: :delete, data: { confirm: "Are you sure?" } %></td>
   </tr>

  </table>
</div>
